body { 
    font-family: Arial, sans-serif; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    background:linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url(../images/Marvel-Comics-Wallpaper.jpg);
}

.mainContent {
    border: 5px solid #333;
    min-height: 80vh;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2em;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    box-shadow: 10px 15px 10px #333;
}

.logo {
    border: 2px solid orange;
    border-radius: 50px;
    width: 50px;
}


textarea {
    width: 100%;
}

button { 
    background-color: steelblue;
    color: white;
    margin: 2px;
    border-radius: 10px;
    padding: 2px;
}

button:hover{
    background-color: rgb(17, 113, 206);
}

#innerContent {
    text-align-last: center;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

#picture{
    height: auto;
    width: 50%;
}

.footer {
    padding: 1em;
    margin-top: auto;
    width: 100%;
    background-color: rgb(54, 58, 63);
    color: white;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .mainContent{
        margin: 2em;
    }
}

/* social tags */
.fa {
    padding: 10px;
    font-size: 33px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* social links change opacity on hover */
.fa:hover {
    opacity: 0.5;
}

/* colour for each logo */
.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-reddit {
    background: #ff5500;
    color: white
}

.fa-instagram {
    background: #d300c5;
    color: white;
}